.contact{
	display: flex;
		background: url(../img/hire_me.png) right center no-repeat;
		background-size: contain;
		@media (max-width: 600px){
			background: none;
		}
}
.contact__left{
	width: 47%;
	padding: 2rem;
	@media (max-width: 600px){
		width: 100%;
	}
}
.mb-0{
	margin-bottom: 0;
}
.contact__info{
	margin: 2rem 0 3rem;
	padding: 0;
	list-style: none;

	font-size: .94rem;
	color: $black;
	font-weight: 300;
}
.contact__info-item{
	display: flex;
	align-items: center;
	margin-bottom: .75rem;

	&:last-child{
		margin-bottom: 0;
	}

	
	a{
		text-decoration: none;
		color: inherit;
	}
}
.contact__info-icon{
	margin-right: .75rem;
}