.social{
	display: flex;
	margin-bottom: 42px;
	
	@media (max-width: 815px){
		margin-bottom: 20px;
	}
	@media (max-width: 600px){
    	justify-content: center;
	}
}
.social__link{
	margin-right: 10px;

    transition: .2s;

	&:hover{
		transform: translateY(-5px);
	}
}