.user{
	display: flex;
}
.user__avatar{
	width: 57px;
    height: 57px;
	
	background: url(../img/logo.svg) top center no-repeat;
	background-size: contain;
}
.user__content{
	display: flex;
	flex-direction: column;
	padding-left: 9px;
	justify-content: center;
}
.user__name{
	font-size: 1.07rem;
	line-height: 1.2;
	color: $black;
	font-weight: 700;
	margin-bottom: 3px;
}
.user__prof{
	font-size: 0.8rem;
	color: rgba($black,.7);
}